REACT_APP_BASE_API_URL=http://172.16.33.96:8076/bsms-customer
REACT_APP_STAGING_API_URL=http://172.16.33.96:7002/bsms-customer
REACT_APP_PROD_API_URL= 
 
REACT_APP_RSA_PUBLIC_KEY=MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA3JMrWKQZxYs+Y/dKMgcJtozSOB2biWGUcxvtpn1EmK4zt0sG0uhCzOkvaX9qD38IT2Zt9my8qttrZBzaz+ChHQNtRhCNqvqEi4otWYa0RsuAgWfNhhvjkXKbVcrufgOPJx9I4X05EDfhPic11HQAjiNpYggwYAqeF004N7nHqoBW5VtLGzf7uIyT2YEPAowkJYDQ/atgDxny3/RJC7kRLZFAHMIYMdTDiPIa2GWnwKE6e56+EBCXovYHkrVu7Q99t1MQBuEYALkRNsl75/1g5o9lN1QNBT4Lvf396JeCdYofUoNkHwOBlrzyFziRoF1sCnr08G7wSkQXgq9iP3WiNIAKGy/kghy1In8qTeEBFaJ+KYSd6pa/ynYEsuTx6+fRezQydo7BKvWVlfQhsqQE8hszL7xS5r7HsGWMjzBJnq3bBlqUilEyxOHmv497NxE55IrF1YVzTmxU7WvfIi0CV+oQyxJ5MpUsyol3RPjfe66UiPLLbo+qV6xEwXr+INlaemG5ugm0DvsrrZSCiABvGo4KpoW91gbhXyx8Mj8DwYPuPfJ/aoufhVDnQZ/C9oHm6TDihJwIQSVFBzHm/Rhu7xUUtIgETIF0xVo1qxRETs0+S9yHuXwmxXGHrcDRq5xnIaG8Ka6TN3y1grWvc3z1mv20WpjflFYHDL/F6PmwKJUCAwEAAQ==
REACT_APP_RSA_ENCRYPTION_SCHEME=RSAES-PKCS1-V1_5