// responsive
$mobile-small: 350px;
$mobile-large: 767px;

$tablet-small: 768px;
$tablet-large: 1200px;

$desktop-small: 1201px;
$desktop-large: 1366px;

// global variables
$margin-mobile: 80px;
$margin-desktop: 125px;
$max-content-width: $tablet-large;

// Headings
$font-xl: 24px;
$font-lg: 20px;
$font-md: 18px;
$font-sm: 16px;
$font-xs: 14px;
$font-xs-1: 12px;

:root {
  --pirmary: #21254f;
  --lightOrange: #fff6ef;
  --extralightOrange: #fff8f8;
  --verylightOrange: #ffdabb;
  --dark: #37474f;
  --lightDark: #000;
  --gray: #fafafa;
  --lightGray: #f4f4f4;
  --extraLightGray: #e7e7e7;
  --darkGray: #9e9e9e;
  --grayMedium: #d9d9d9;
  --lightSkyBlue: #daedfe;
  --brightSkyBlue: #01aefd;
  --tealBlue: #0880ae;
  --oliveGreen: #9ab83d;
  --lightOliveGreen: #abc412;
  --majesticPurple: #712e7b;
  --danger: #dc2626;
  // old colors
  --primary-color: #3490dc;
  --secondary-color: #ffed4a;
  --danger-color: #e3342f;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
}

[data-theme='dark'] {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
  --primary-color: #1d4ed8;
  --secondary-color: #fbbf24;
  --danger-color: #b91c1c;
  --background-color: #1f2937;
  --text-color: #f9fafb;
}
