.datePickerWrapper {
  :global {
    .react-datepicker__day--selected {
      background-color: var(--orange) !important;
      color: white;
    }

    .react-datepicker__day,
    .react-datepicker__day-name {
      width: 40px;
      line-height: 40px;
    }

    .react-datepicker__header__dropdown {
      margin: 10px;
    }
  }
}
