@import './base.scss';
@import './layout.scss';

body {
  font-weight: 400;
  font-family: 'Nexa', sans-serif, 'Open Sans';
  min-height: 100vh;
  background-color: black;
  color: var(--dark);
  &,
  .customScrollbar {
    @include custom-scrollbar;
  }
}

// Fonts
@font-face {
  font-family: 'Nexa';
  src: url('../../media/fonts/Nexa\ Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Nexa';
  src: url('../../media/fonts/Nexa\ Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Nexa';
  src: url('../../media/fonts/Nexa\ Light.otf');
  font-weight: 300;
}

.overflow-initial {
  overflow: initial;
}

.no-sroll {
  overflow: hidden !important;
}

//swal modal design
.swal2-modal {
  border-radius: 15px;
  .swal2-close {
    width: 2em;
    height: 2em;
  }
}

/* Change the background and text color for autofilled input fields */
input:-webkit-autofill {
  background-color: var(--dark) !important; /* Autofill background color */
  box-shadow: 0 0 0px 1000px white inset !important; /* To override default styling */
  transition: background-color 5000s ease-in-out 0s; /* Prevents background color from resetting */
}

input:-webkit-autofill:focus {
  background-color: #e8f7ff !important; /* Change background on autofill focus */
}

.imageWhite {
  filter: grayscale(100%) sepia(100%) hue-rotate(180deg);
}
